Conga Line 3D V2/Library/
Conga Line 3D V2/Temp/
Conga Line 3D V2/Obj/
Conga Line 3D V2/Build/
Conga Line 3D V2/Builds/
Conga Line 3D V2/ProjectSettings/
Conga Line 3D V2/Assets/AssetStoreTools*

Conga Line 3D V7/Library/
Conga Line 3D V7/ProjectSettings/
Conga Line 3D V7/UnityProjectManager/

Conga Line 3D V18/Temp/
Conga Line 3D V18/Obj/
Conga Line 3D V18/Build/
Conga Line 3D V18/Builds/
Conga Line 3D V18/ProjectSettings/
Conga Line 3D V18/Assets/AssetStoreTools*
Conga Line 3D V18/UnityProjectManager/
Conga Line 3D V19/Library/

Conga Line 3D V19/Temp/
Conga Line 3D V19/Obj/
Conga Line 3D V19/Build/
Conga Line 3D V19/Builds/
Conga Line 3D V19/ProjectSettings/
Conga Line 3D V19/Assets/AssetStoreTools*
Conga Line 3D V19/UnityProjectManager/
Conga Line 3D V19/Library/

Conga Line 3D V20/Library/
Conga Line 3D V20/Temp/
Conga Line 3D V20/Obj/
Conga Line 3D V20/Build/
Conga Line 3D V20/Builds/
Conga Line 3D V20/ProjectSettings/
Conga Line 3D V20/Assets/AssetStoreTools*
Conga Line 3D V20/UnityProjectManager/

Conga Line 3D V21/Library/
Conga Line 3D V21/Temp/
Conga Line 3D V21/Obj/
Conga Line 3D V21/Build/
Conga Line 3D V21/Builds/
Conga Line 3D V21/ProjectSettings/
Conga Line 3D V21/Assets/AssetStoreTools*
Conga Line 3D V21/UnityProjectManager/


Conga Line 3D V13/Library/
Conga Line 3D V13/ProjectSettings/
Conga Line 3D V13/UnityProjectManager/
Conga Line 3D V15/Library/
Conga Line 3D V15/ProjectSettings/
Conga Line 3D V15/UnityProjectManager/
Conga Line 3D V16/Library/
Conga Line 3D V16/ProjectSettings/
Conga Line 3D V16/UnityProjectManager/
Conga Line 3D V17/Library/
Conga Line 3D V17/ProjectSettings/
Conga Line 3D V17/UnityProjectManager/
Conga Line 3D V18/Library/
Conga Line 3D V18/ProjectSettings/
Conga Line 3D V18/UnityProjectManager/
Conga Line 3D V19/Library/
Conga Line 3D V19/ProjectSettings/
Conga Line 3D V19/UnityProjectManager/


Conga Line 3D V2/.vs/
Conga Line 3D V7/.vs/
Conga Line 3D V13/.vs/
Conga Line 3D V15/.vs/
Conga Line 3D V16/.vs/
Conga Line 3D V17/.vs/
Conga Line 3D V18/.vs/
Conga Line 3D V19/.vs/
Conga Line 3D V20/.vs/
Conga Line 3D V21/.vs/



# Autogenerated VS/MD/Consulo solution and project files

ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb


# Unity3D generated meta files

*.pidb.meta

# Unity3D Generated File On Crash Reports
sysinfo.txt


# Builds
*.apk
*.unitypackage
Project Documents/~$Ice Block.xlsx
